.DS_Store
# python/
*/data*/
*/*/data*/
.vscode/
other stuff/

.idea/
*.pem

*/__pycache__/
*/*/__pycache__/

fileserver/
*/fileserver/

test.html

/python/res.txt
javascript/logs
javascript/node_modules
javascript/package-lock.json
javascript/public/media/audio/beep.mp3
javascript/public/media/audio/male.mp3
